root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cs,csx}]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true

[*.{csproj,props,targets,slnx,xml}]
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 100

[*.{ps1,cmd,bat}]
end_of_line = crlf
